@import '../abstracts/';

.view_file {
    @include popup-ontainer();

    &__container {
        @include scrollbar();
        @include size(fit-content);
        max-height: calc(100% - 2.5em);
        padding: 1em 0;
        background-color: #fff;
        border: 0.5px solid #000;
        border-radius: 5px;
        z-index: 1;

        @media only screen and (max-width: 600px) {
            // @include size(calc(100% - 0.5em) !important, calc(100% - 2.5em) !important);
            @include size(calc(100% - 0.5em));
        }

        &__header {
            @include flex(space-between);

            &__title {
                font-weight: bolder;
            }

            &__close {
                cursor: pointer;
            }
        }

        & hr {
            border-width: 0.5px;
            background-color: gray;
        }

        & > *:not(hr) {
            padding: 0 1em;
        }

        &__body {
            @include size($height: calc(100% - 2.5em));

            & img, iframe {
                @include size(100%, 100%);
            }
        }
    }
}